
{% load static %}
{% block body %}

<div class="create-user-container">
    <h1>Create User</h1>
    <section class="create-user-detail">
        <form method="post" action="{% url 'users:create_user' %}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input class="form-control username" type="text" id="username" name="username" required><br>

            <label for="first_name">First Name:</label>
            <input class="form-control first" type="text" id="first_name" name="first_name" required>

            <label for="last_name">Last Name:</label>
            <input class="form-control last" type="text" id="last_name" name="last_name" required><br>

            <label for="last_name">Weight:</label>
            <input class="form-control last" type="text" id="weight" name="weight" required><br>

            <label for="last_name">Height:</label>
            <input class="form-control last" type="text" id="height" name="height" required><br>

            <label for="last_name">Age:</label>
            <input class="form-control last" type="text" id="age" name="age" required><br>

            <label for="email">Email:</label>
            <input class="form-control email" type="email" id="email" name="email" >

            <label for="password">Password:</label>
            <input class="form-control password" type="password" id="password" name="password" required><br>

            <button type="submit" class="create-user-btn">Create</button>
        </form>
        <a href="{% url 'users:login' %}">Login</a>
    </section>
</div>

{% endblock %}