asgiref==3.7.2
CacheControl==0.14.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
channels==4.1.0
charset-normalizer==3.3.2
contourpy==1.2.0
cryptography==43.0.1
cycler==0.12.1
Django==4.2.17
django-node==4.0.2
djangorestframework==3.15.2
fonttools==4.47.2
grpcio==1.62.1
grpcio-status==1.62.1
http-ece==1.2.0
httplib2==0.22.0
idna==3.6
importlib-resources==6.1.1
kiwisolver==1.4.5
matplotlib==3.8.2
msgpack==1.0.8
numpy==1.26.3
packaging==23.2
pillow==10.3.0
proto-plus==1.23.0
protobuf==4.25.3
py-vapid==1.9.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
PyJWT==2.8.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
requests==2.31.0
rsa==4.9
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.2.2
zipp==3.19.1
